a {
    /* add styles here */
    text-decoration: none;
    color: inherit;
}

.search-input {
    width: 11em;
}

mat-form-field.mat-focused {
    width: 17em;
}

.li-items {
    margin-bottom: 10px;
}

.container {
    min-height: 100vh;
}

.card-title {
    font-size: 2rem;
}

.card-header {
    background-color: #E5E3D4;
    padding: 10px
}
.empty
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: auto;
    margin: 2rem;
    gap: 10px;
}