<mat-card class="container">
    <mat-card-header class="card-header">
        <mat-card-title class="card-title">
            My Tournaments:
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        @if (tournaments() && tournaments()?.length! > 0) {
        <div>
            <mat-list *ngIf="tournaments(); else loading">
                <li class="li-items" *ngFor="let item of tournaments()">
                    <app-tournament-card [tournament]="item" [manage]="true"></app-tournament-card>
                </li>
            </mat-list>
            <ng-template #loading>
                <div>
                    Loading...
                </div>
            </ng-template>
        </div>
        }
        @else {
        <div class="empty">
            <div>
                Such Empty....
            </div>
            <a [routerLink]="['/tp/add-tournament']">
                <button mat-raised-button>Add Tournament</button>
            </a>
        </div>
        }
    </mat-card-content>


</mat-card>