a {
    /* add styles here */
    text-decoration: none;
    color: inherit;
}

.search-input {
    width: 11em;
}

mat-form-field.mat-focused{
    width: 17em;
}

.li-items{
    margin-bottom: 10px;
}
