<div class="form-wrapper">
  <form #tournamentAddForm="ngForm">
    <div>
      <label for="tournamentName"
        >Tournament Name:
        <input type="text" id="tournamentName"  name="tournamentName" required  [(ngModel)]="tournamentDto.name"/>
      </label>
    </div>
    <div>
      <label for="startDate"
        >Start Date:
        <input type="datetime-local" name="startDate" id="startDate"  (change)="onStartDateChange($event)"/>
      </label>
    </div>
    <div>
      <label for="endDate"
        >End Date:
        <input type="datetime-local" name="endDate" id="endDate" (change)="onEndDateChange($event)"/>
      </label>
    </div>
    <button type="submit" [disabled]="!tournamentAddForm.form.valid" (click)="onClickCreate()">Create Tournament</button>
  </form>
  <p>
    {{tournamentDto | json}}
  </p>
</div>
