.container {
    height: 100%;
    // border: 1px solid red;
    overflow: auto;
}

.header{
    margin-bottom: 10px;
    align-self: center;
}

.card-actions{
    align-self: center;
    font-size: large;
    
}

.my-button{
    padding: 10px;
    font-size: large;
}

.add-tournament-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.form-field{
    align-self: center;
    width: 80%;
}