<mat-card class="container">
  <mat-card-header class="header">
    <mat-card-title class="card-title">Add Tournament</mat-card-title>
  </mat-card-header>
  <mat-card-content class="card-content">
    <form [formGroup]="addTournamentForm" class="add-tournament-form">
      <mat-form-field class="form-field">
        <mat-label>Tournament Name</mat-label>
        <input matInput type="text" formControlName="name">
        <mat-error *ngIf="addTournamentForm.get('name')!.hasError('required')">Name is required.</mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Select start and end Date</mat-label>
        <mat-date-range-input [rangePicker]="duration">
          <input matStartDate placeholder="Start date" formControlName="startDate">
          <input matEndDate placeholder="End date" formControlName="endDate">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY–MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="duration"></mat-datepicker-toggle>
        <mat-date-range-picker #duration></mat-date-range-picker>
        <mat-error *ngIf="addTournamentForm.get('startDate')!.hasError('required')">Start Date is required.</mat-error>
        <mat-error *ngIf="addTournamentForm.get('endDate')!.hasError('required')">End Date is required.</mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Registration Last Date</mat-label>
        <input matInput [matDatepicker]="registrationLastDatePicker" formControlName="registrationLastDate">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="registrationLastDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #registrationLastDatePicker></mat-datepicker>
        <mat-error
          *ngIf="addTournamentForm.get('registrationLastDate')!.hasError('invalidRegistrationLastDate')">Registration
          Last Date must be after today and before the start date.</mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Game Type</mat-label>
        <mat-select formControlName="gameType">
          <mat-option *ngFor="let type of gameTypeSupported | keyvalue" [value]="type.key">{{type.value}}</mat-option>
        </mat-select>
        <mat-error *ngIf="addTournamentForm.get('gameType')!.hasError('required')">Game Type is required.</mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
          <mat-option *ngFor="let status of tournamentStatus | keyvalue"
            [value]="status.key">{{status.value}}</mat-option>
        </mat-select>
        <mat-error *ngIf="addTournamentForm.get('status')!.hasError('required')">Status is required.</mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Tournament Type</mat-label>
        <mat-select formControlName="tournamentType">
          <mat-option *ngFor="let type of this.tournamentType | keyvalue" [value]="type.key">{{type.value}}</mat-option>
        </mat-select>
        <mat-error *ngIf="addTournamentForm.get('tournamentType')!.hasError('required')">Tournament Type is
          required.</mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Knock Out Start Number</mat-label>
        <input matInput type="number" formControlName="knockOutStartNumber">
        <mat-error *ngIf="addTournamentForm.get('knockOutStartNumber')!.hasError('required')">Knock Out Start Number is
          required.</mat-error>
        <mat-error *ngIf="addTournamentForm.get('knockOutStartNumber')!.hasError('invalidPowerOfTwo')">Knock Out Start
          Number must be a power of 2.</mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Max Participant</mat-label>
        <input matInput type="number" formControlName="maxParticipant">
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Registration Fee</mat-label>
        <input matInput type="number" placeholder="In USD" formControlName="registrationFee">
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Venue</mat-label>
        <input matInput type="text" formControlName="venue">
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Minimum Age of Registration</mat-label>
        <input matInput type="number" formControlName="minimumAgeOfRegistration">
      </mat-form-field>
      @if (this.errors()) {
          @for (error of errors(); track $index) {
              <mat-error class="error">{{error}}</mat-error>
          }
      }
    </form>
  </mat-card-content>
  <mat-card-actions class="card-actions">
    <button mat-stroked-button class="my-button" (click)="this.onClickCreate()"
      [disabled]="!this.addTournamentForm.valid">Add Tournament</button>
  </mat-card-actions>
</mat-card>
