<div class="bracket-container" [style.height.px]="this.getContainerHeight()">
  <div class="round-column" *ngFor="let round of sortedRounds(); let roundIndex = index">
    <h3 class="round-title">{{ round.roundName }}</h3>
    <div class="column-wrapper">
      <div class="match-wrapper" *ngFor="let match of round.matches; let matchIndex = index"
        [style.top.px]="getMatchWrapperTopPosition(roundIndex, matchIndex)">
        <mat-card class="match-card">
          <div class="player-slot" *ngFor="let player of [match.firstPlayer, match.secondPlayer]"
            [class.winner]="player?.id === match.winner?.id">
            <div class="player-info">
              <span>{{ player?.name || 'TBD' }}</span>
              <span class="score" *ngIf="match.scoreJson">
                {{ getPlayerSets(match, player) }}
              </span>
            </div>
          </div>
          <div class="match-details" *ngIf="match.gameScheduled">
            <mat-icon>schedule</mat-icon>
            {{ match.gameScheduled | date:'shortDate' }}
          </div>
        </mat-card>

        <div class="connector-container" *ngIf="!isLastRound(roundIndex)">
          <div class="vertical-line" [style.height.px]="getConnectorHeight(roundIndex)"
            [style.top]="matchIndex % 2 === 0 ? '50%' : null" [style.bottom]="matchIndex % 2 === 1 ? '50%' : null">
          </div>
          <div class="horizontal-line" [style.top]="'50%'"></div>
        </div>
      </div>
    </div>
  </div>
  @if (this.playOffRound()) {
  <div class="round-column">
    <h3 class="round-title">{{ this.playOffRound()?.roundName }}</h3>
    <div class="column-wrapper">
      <div class="match-wrapper" *ngFor="let match of this.playOffRound()?.matches; let matchIndex = index"
        [style.top.px]="getMatchWrapperTopPosition(0, matchIndex)">
        <mat-card class="match-card">
          <div class="player-slot" *ngFor="let player of [match.firstPlayer, match.secondPlayer]"
            [class.winner]="player?.id === match.winner?.id">
            <div class="player-info">
              <span>{{ player?.name || 'TBD' }}</span>
              <span class="score" *ngIf="match.scoreJson">
                {{ getPlayerSets(match, player) }}
              </span>
            </div>
          </div>
          <div class="match-details" *ngIf="match.gameScheduled">
            <mat-icon>schedule</mat-icon>
            {{ match.gameScheduled | date:'shortDate' }}
          </div>
        </mat-card>
      </div>
    </div>
  </div>

  }


</div>