<p>cash-register works!</p>

<div class="grid-container">
    <div class="products">
        <div class="product" *ngFor="let item of _offering" (click)="cart.addToCart(item)">
            <img [src]="item.imgUrl" alt="">
            {{item.name}} - {{item.priceEur}}
        </div>
    </div>
    <div class="receipt">
        <ng-container *ngFor="let i of cart.shoppingCart()">
            {{ i.name }}
            <div class="price">{{ i.priceEur | number: '1.2' }}</div>
        </ng-container>
    </div>
    <div class="total">
        <!-- Calculate the total price of all the item and display it using sevensegment display lvl3 -->
        <app-number-component-lvl3 [nubmerOfDigit]="getTotalPriceDigit()" [number]="cart.totalPrice()">
        </app-number-component-lvl3>
    </div>
</div>