<mat-card appearance="outlined" class="mat-card">
    <mat-card-header class="card-header">
        <mat-card-title class="card-title">{{this.tournament()?.name}}</mat-card-title>
    </mat-card-header>
    <mat-tab-group [selectedIndex]="this.tabSelectedIndex()">
        <mat-tab label="Details">
            <div class="tab-container">
                <app-manage-tournament-details [tournamentId]="tournamentId"
                     (tournamentEE)="tournamentEC($event)" (statusChangeEE)="this.tournamentStatusChangeEC()">
                </app-manage-tournament-details>
            </div>
        </mat-tab>
        <mat-tab label="Make Draws">
            <ng-template matTabContent="">
                <div class="tab-container draw-container">
                    @if (this.drawTabView() == drawTabViewType.ListView) {
                    <app-tournament-draw-list (drawTabChangeEvent)="toggleDrawTabView($event)" [manage]="true"
                        (matchTypeId)="catchMatchTypeId($event)" [tournamentId]="tournamentId"></app-tournament-draw-list>
                    }
                    @else if (this.drawTabView() == drawTabViewType.DetailView) {
                    <app-tournament-draw-details (drawTabChangeEvent)="toggleDrawTabView($event)" [matchTypeId]="this.matchTypeId()"
                        [gameType]="this.tournament()?.gameTypeDto"></app-tournament-draw-details>
                    }
                </div>
            </ng-template>
        </mat-tab>
        <mat-tab label="Make Schedule">
            <ng-template matTabContent>
                <div class="tab-container">
                    <app-make-match-schedule (seletdTabChangeEE)="this.changeSelectedTab($event)" [tournament]="this.tournament()"></app-make-match-schedule>
                </div>
            </ng-template>
        </mat-tab>
        <mat-tab label="Matches">
            <ng-template matTabContent>
                <div class="tab-container">
                    @if (this.matchTabView() == this.matchTabViewType.MatchView) {
                        <app-tournament-matches-list (matchTabChangeEventWithSelectedMatchId)="this.tabViewChangeToAddScoreWithMatchId($event)" [tournamentId]="this.tournamentId" [gameType]="this.tournament()?.gameTypeDto" [manage]="true"></app-tournament-matches-list>
                    }
                    @else if (this.matchTabView() == this.matchTabViewType.AddScoreView) {
                        <app-add-match-score (matchTabViewChangeEvent)="this.tabChangeToListView()" [matchId]="this.matchId()" [gameType]="this.tournament()?.gameTypeDto"></app-add-match-score>
                    }
                </div>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</mat-card>