@if (players() && players()?.length) {
<div class="mat-list">
    @for (player of players(); track player.id) {
    <mat-expansion-panel class="expan-panel">
        <mat-expansion-panel-header>
            <mat-panel-title> {{player.name}}</mat-panel-title>
        </mat-expansion-panel-header>
        <div>
            <p>{{player.age}}</p>
            <p>{{player.gamePlayed}}</p>
            <p>{{player.gameWon}}</p>
            <p>{{player.winRatio}}</p>
        </div>
    </mat-expansion-panel>
    }
</div>
}
@else if(players() == undefined) {
<div>
    Loading...
</div>
}