@if (players() && players()?.length) {
<div class="mat-list">
    @for (player of players(); track player.id) {
    <mat-expansion-panel class="expan-panel">
        <mat-expansion-panel-header>
            <mat-panel-title> {{player.name}}</mat-panel-title>
        </mat-expansion-panel-header>
        <div>
            <ng-template [ngTemplateOutlet]="playerDetails"></ng-template>
        </div>

        <ng-template #playerDetails>
            <p><strong>Age:</strong> {{player.age}}</p>
            <p><strong>Games Played:</strong> {{player.gamePlayed}}</p>
            <p><strong>Games Won:</strong> {{player.gameWon}}</p>
            <p><strong>Win Ratio:</strong> {{ this.getRoundWinRatio(player.winRatio)}}</p>
            <button mat-button (click)="emitTabViewChangeEvent()">See More Details</button>
        </ng-template>

    </mat-expansion-panel>
    }
</div>
}
@else if(players() == undefined) {
<div>
    Loading...
</div>
}