<div class="container">
  <mat-card class="mat-card">
    <div class="btn-div">
      <button mat-icon-button class="back-btn" (click)="emitDrawTabChangeEvent()">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>
    <mat-card-header class="mat-card-header">
      <mat-card-title class="mat-card-title">{{this.matchType()?.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
        <mat-tab label="Details">
          <ng-container *ngTemplateOutlet="detailsTab"></ng-container>
        </mat-tab>
        <mat-tab label="Matches">
          <ng-container *ngTemplateOutlet="matchesTab"></ng-container>
        </mat-tab>
      </mat-tab-group>

    </mat-card-content>
  </mat-card>
</div>

<ng-template #detailsTab>
  @if (this.players() != undefined) {
    <!-- //TODO: dynamically show groupmatchtype and knockout matchtype component here -->
  <div>
    <app-round-robin-table [players]="this.players()" [matches]="this.matches()" [gameType]="this.gameType">
    </app-round-robin-table>
  </div>
  <div>
    <app-group-standing-provider [gameType]="this.gameType" [matchTypeId]="this.matchType()?.id"></app-group-standing-provider>
  </div>
  }
</ng-template>

<ng-template #matchesTab>
  <p>Matches content goes here.</p>
  @for (round of this.rounds(); track round.id) {
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          {{round.roundName}}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        @for (match of round.matches; track match.id) {
          <div>{{match.firstPlayer.name}} vs. {{match.secondPlayer.name}}</div>
          <div>{{match.winner ?? "Not Played"}}</div>
          <div>{{match.gameScheduled}}</div>
        }
      </mat-card-content>
    </mat-card>
  }
</ng-template>