.al-container {
    height: 100%;
    display: flex;
    justify-content: center;
}

.container {
    width: var(--form-width);
    min-width: var(--form-min-width);
    height: var(--form-height);
    display: grid;
    grid-template-rows: 1fr 2fr 1fr auto;
    grid-template-columns: auto;
    align-items: center;
    justify-items: center;
}

.form-field {
    width: 400px;
}

form {
    display: flex;
    flex-direction: column;
}


.footer {
    justify-self: end;
    column-gap: 5px;
    align-self: center;
}

.login-btn {
    font-size: large;
}

.card-actions {
    align-self: start;
}

.my-button {
    font-style: italic;

    text-decoration: underline;
    margin-right: 10px;
    margin-bottom: 10px;
}

.login-error {
    font-style: italic;
    font-size: medium;
}