<div>
  <mat-toolbar color="accent"> <!-- Changed color to 'accent' for a more professional look -->
    <mat-toolbar-row>
      <span class="title"><a [routerLink]="'/'">{{ApplicationTitle}}</a></span>
      <span class="spacer"></span>
      <button mat-button><a [routerLink]="'tp'">Home</a></button>
      <button mat-button *ngIf="userRole === 'admin'"><a [routerLink]="'tp/manage-tournaments'">Manage
          Tournaments</a></button>
      <button mat-button *ngIf="userRole === 'admin'"><a [routerLink]="'tp/add-tournament'">Add Tournament</a></button>
      <button mat-button *ngIf="userRole === 'player'"><a [routerLink]="'tp/manage-profile'">Manage Profile</a></button>
      <button mat-button *ngIf="userRole">
        <a [routerLink]="'/profile'">{{userRole}} Profile</a>
        <span>&nbsp;</span>
        <a [routerLink]="'/signout'">Sign Out</a>
      </button>
      <button mat-button *ngIf="!userRole"><a [routerLink]="'/login'">Sign In</a></button> <!-- Redirect to login -->
    </mat-toolbar-row>
  </mat-toolbar>
</div>