.sub-header{
    display: flex;
    justify-content: center;
    background-color: var(--tp-grey-color);
    font-weight: 400;
}
.score-span{
    font-style: italic;
    font-weight: 700;
}

.card-action{
    justify-content: end;
    margin-right: 10px;
}
.add-score-link{
    padding: 5px;
    background-color: var(--tp-cream-color);
    border:0.5px solid blanchedalmond;
}