<h1>Number Display Test</h1>

<form class="input-grid-container">
  <!-- **Input for number of digit -->
  <label for="">Enter number of digit: </label>
  <input type="number" [formControl]="digitInput" />


  <!-- **Input for number -->
  <label for="">Enter number: </label>
  <input type="number" [formControl]="numberInput" />

  <!-- **Input for precision -->
  <label for="">Precision: </label>
  <input type="number" [formControl]="precisionInput" />
</form>

<app-regular-number [number]="(numberInput.valueChanges | async) ?? 0"></app-regular-number>
<app-seven-segment-number [number]="(numberInput.valueChanges | async) ?? 0"></app-seven-segment-number>