<mat-card appearance="outlined" class="mat-card">
    <mat-card-header class="card-header">
        <mat-card-title class="card-title">{{this.tournamentName()}}</mat-card-title>
    </mat-card-header>
    <mat-tab-group>
        <mat-tab label="Details">
            <div class="tab-container">
                <app-tournament-details [tournamentId]="tournamentId"
                    (participantsEE)="tournamentParticipantsEC($event)" (tournamentNameEE)="tournamentNameEC($event)">
                </app-tournament-details>
            </div>
        </mat-tab>
        <mat-tab label="Matches">
            <div class="tab-container">
                Matches: {{tournamentId}}
            </div>
        </mat-tab>
        <mat-tab label="Draws">
            <div class="tab-container">
                @if (this.drawTabView() == drawTabViewType.ListView) {
                    <app-tournament-draw-list 
                    (drawTabChangeEvent)="toggleDrawTabView($event)" 
                    (matchTypeId)="catchMatchTypeId($event)"
                    [tournamentId]="tournamentId"></app-tournament-draw-list>
                }
                @else if (this.drawTabView() == drawTabViewType.DetailView) {
                    <app-tournament-draw-details 
                    (drawTabChangeEvent)="toggleDrawTabView($event)" [matchTypeId]="this.matchTypeId()"></app-tournament-draw-details>
                }
            </div>
        </mat-tab>
        <mat-tab label="Players">
            <div class="tab-container">
                @if (this.playerTabView() == playerTabViewType.ListView) {
                <app-tournament-player-list (playerTabChangeEvent)="togglePlayerTabView($event)"
                    [tournamentId]="tournamentId"
                    [players]="this.tournamentParticipants()"></app-tournament-player-list>
                }
                @else if (this.playerTabView() == playerTabViewType.DetailView) {
                <app-tournament-player-details (playerTabChangeEvent)="togglePlayerTabView($event)"
                    [tournamentId]="tournamentId"></app-tournament-player-details>
                }
            </div>
        </mat-tab>
    </mat-tab-group>
</mat-card>