<!-- <mat-card>
    <mat-card-header>
        <mat-card-title>Testing.....</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>Lorem ipsum dolor sit amet.</p>
    </mat-card-content>
</mat-card> -->
<div class="container">
    <mat-tab-group [selectedIndex]="mytabIndex" (selectedTabChange)="tabChange($event)">
        <mat-tab style="margin: 10px;" label="Cash App"><app-tournament-list></app-tournament-list> </mat-tab>
        <mat-tab label="Second"> Content 2 </mat-tab>
        <mat-tab label="Third"> Content 3 </mat-tab>
    </mat-tab-group>

    <div>
        {{this.fromTabChange}}
    </div>

    <!-- <div class="item t1">
        <div>
            Testing....
        </div>
        <div>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
    </div> -->

    <!-- <div class="item t2">
        <div>
            Testing 2....
        </div>
        <div>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
    </div>
    <div class="item t3">
        <div>
            Testing 3....
        </div>
        <div>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
    </div> -->
</div>