<!-- <mat-card>
    <mat-card-header>
        <mat-card-title>Testing.....</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>Lorem ipsum dolor sit amet.</p>
    </mat-card-content>
</mat-card> -->
<div class="container">
    <div class="item t1">
        <div>
            Testing....
        </div>
        <div>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
    </div>

    <!-- <div class="item t2">
        <div>
            Testing 2....
        </div>
        <div>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
    </div>
    <div class="item t3">
        <div>
            Testing 3....
        </div>
        <div>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
    </div> -->
</div>