<div class="container">
    @if (this.manage) {
    <mat-card-actions class="action">
        <button mat-stroked-button class="action-btn">Make Draw</button>
    </mat-card-actions>
    }
    @if (this.draws() != undefined && this.draws()!.length > 0 ) {
    @for (item of this.draws(); track item ) {
    <mat-card class="mat-card">
        <mat-card-header class="my-mat-header">
            <div class="title-container">
                <mat-card-title class="mat-title">
                    <a class="link" (click)="this.emitDrawTabViewChangeEvent(item.matchType.id)">
                        {{item.matchType.name}}
                    </a>
                </mat-card-title>
            </div>
            <div class="chip-container">
                <div class="my-chip" [ngClass]="this.getClassName(item.matchType)">
                    {{item.matchType.isCompleted ? 'Completed' : 'Incomplete'}}
                </div>
            </div>
        </mat-card-header>
        <mat-card-content class="mat-content">
            Created At: {{this.getCreatedAtDate(item)}}
        </mat-card-content>
    </mat-card>
    }
    }
    @else {
    <div>Such Empty...</div>
    }
</div>