* {
  margin: 0;
  box-sizing: border-box;
}

// Default app style
app-root {
  max-width: 1024px;
  margin: auto;
  display: flex;
  flex-direction: column;
  // overflow: auto;
}

/* You can add global styles to this file, and also import other style files */
:root {
  //tournament planner variables
  --tp-title-color: #3f51b5;
  --tp-header-color: #3f51b5;
  --tp-card-background-color: #fafafa;
  --tp-card-radius: 12px;




  --rd-color: red;
  --rd-font-family: "Courier New", Courier, monospace;
  --rd-font-size: 90px;

  --tp-ok-color: #ECE852;
  --tp-warn-color: #FB4141;
  --tp-cream-color: #FFFDEC;
  --tp-grey-color: #EFF3EA;

  --ssd-separator-stroke: #eee;
  --ssd-separator-width: 0.25px;
  --ssd-fill-color: red;

  --ssd-decimal-stroke-width: 2px;

  --form-width: 600px;
  --form-min-width: 300px;
  --form-height: 500px;
}


