.mat-card{
  padding: 5px;
}

.header{
  border: 1px solid #7E99A3;
}

.card-header{
  display: flex;
  justify-content: center;
}

.tb-data-name{
  font-weight: bold;
}

.tb-data{
  border: 1px solid #7E99A3;
}