.mat-card {
  padding: 5px;
}

.header {
  border: 1px solid #7e99a3;
}

.card-header {
  display: flex;
  justify-content: center;
}

.tb-data-name {
  font-weight: 500;
}

.tb-data {
  border: 1px solid #7e99a3;
}

th,
td {
  border: 1px solid #e0e0e0;
  padding: 12px;
  text-align: center;
}
table{
  border: 1px solid #e0e0e0;
}

.won {
  background-color: var(--tp-ok-color);
}

.lost {
  background-color: var(--tp-warn-color);
}

.not-played {
  background-color: var(--tp-cream-color);
}

.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.title{
  margin-bottom: 5px;
}


