.mat-card {
  padding: 5px;
}

.header {
  border: 1px solid #7e99a3;
}

.card-header {
  display: flex;
  justify-content: center;
}

.tb-data-name {
  font-weight: bold;
}

.tb-data {
  border: 1px solid #7e99a3;
}

th,
td {
  padding: 10px;
  text-align: center; /* Center content horizontally */
  vertical-align: middle; /* Center content vertically */
}

.won{
  background-color: var(--tp-ok-color);
}

.lost{
  background-color: var(--tp-warn-color);
}

.not-played{
  background-color: var(--tp-cream-color);
}

