<mat-card class="mat-card" appearance="raised">
    <div class="img-div">
        <a [routerLink]="['tournament-details', tournament?.id]">
            <img mat-card-sm-image src="../../assets/tt.jpg">
        </a>
    </div>
    <div class="content-div">
        <div class="title-div">
            <mat-card-title>
                <a [routerLink]="['tournament-details', tournament?.id]">
                    {{tournament?.name}}
                </a>
            </mat-card-title>
            @if (getGameType()) {
            <mat-chip>{{getGameType()}}</mat-chip>
            }
        </div>
        <div class="venue-div">
            <h4 class="venue-header">{{this.getVenue()}}</h4>
        </div>
        <div class="time-div">
            <p>{{tournament?.startDate}} - {{tournament?.endDate}}</p>
        </div>
    </div>
</mat-card>