<mat-card class="tournament-card" appearance="outlined">
    <div class="card-status-indicator" [style.background-color]="getStatusColor()" [matTooltip]="getStatus()">
    </div>

    <div class="tournament-image">
        <a [ngClass]="{'disabled-link': getLinkDisableValue()}" [routerLink]="getLink(tournament?.id)">
      <img [src]="this.getTournamentImageUrl()" alt="Tournament">
        </a>
    </div>

    <mat-card-content class="tournament-content">
        <div class="tournament-header">
            <h2 class="tournament-title">
                <a [ngClass]="{'disabled-link': getLinkDisableValue()}" [routerLink]="getLink(tournament?.id)">
                    {{tournament?.name}}
                </a>
            </h2>
            @if (getGameType()) {
            <mat-chip-set>
                <mat-chip [style.background-color]="getGameTypeColor(this.tournament?.gameTypeDto?.name)" [style.color]="'white'">{{getGameType()}}</mat-chip>
            </mat-chip-set>
            }
        </div>

        <div class="tournament-details">
            <div class="detail-item">
                <mat-icon>location_on</mat-icon>
                <span>{{getVenue()}}</span>
            </div>
            <div class="detail-item">
                <mat-icon>event</mat-icon>
                <span>{{tournament?.startDate}} - {{tournament?.endDate}}</span>
            </div>
            @if (tournament?.maxParticipant) {
            <div class="detail-item">
                <mat-icon>group</mat-icon>
                <span>Max Participants: {{tournament?.maxParticipant}}</span>
            </div>
            }
        </div>

        @if(manage) {
        <div class="manage-section">
            <a mat-flat-button color="primary" [routerLink]="getLink(tournament?.id)">
                Manage Tournament
                <mat-icon>arrow_forward</mat-icon>
            </a>
        </div>
        }
    </mat-card-content>
</mat-card>
