<mat-card class="mat-card" appearance="raised">
    <div class="img-div">
        <a [ngClass]="{'disabled-link': this.getLinkDiableValue()}"  [routerLink]="getLink(tournament?.id)">
            <img mat-card-sm-image src="../../assets/tt.jpg">
        </a>
    </div>
    <div class="content-div">
        <div class="title-div">
            <mat-card-title>
                <a [ngClass]="{'disabled-link': this.getLinkDiableValue()}" [routerLink]="getLink(tournament?.id)">
                    {{tournament?.name}}
                </a>
            </mat-card-title>
            @if (getGameType()) {
            <mat-chip>{{getGameType()}}</mat-chip>
            }
        </div>
        <div class="venue-div">
            <h4 class="venue-header">{{this.getVenue()}}</h4>
        </div>
        <div class="time-div">
            <p>{{tournament?.startDate}} - {{tournament?.endDate}}</p>
        </div>
        @if(manage){
        <div class="manage-div">
            <a mat-button class="manage-button" [routerLink]="this.getLink(tournament?.id)">
                Manage Tournament
                <mat-icon iconPositionEnd class="manage-arrow-icon">arrow_forward</mat-icon>
            </a>
        </div>
        }
    </div>
</mat-card>