.mat-card {
    flex-direction: row; //mat card by default is display: flex
}

a {
    text-decoration: none;
    color: inherit;

}

.img-div {
    padding: 1em;
    align-self: center;
}

.content-div {
    flex-grow: 1;
    padding: 1rem;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.title-div {
    display: flex;
    justify-content: space-between;
}

.venue-div {
    margin-bottom: 5px;

    .venue-header {
        color: #9E5FAA;
    }
}

.time-div {
    p {
        font-style: italic;
    }
}

.manage-button {
    padding: 10px;
    background-color: aquamarine;
}

.manage-div{
    margin-top: 0.5rem;
    align-self: flex-end;
}

.disabled-link{
    pointer-events: none;
    cursor: not-allowed;

}