
.dialog-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.full-width {
  width: 100%;
}

.selected-chips {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 8px 0;
}

mat-chip {
  font-size: 14px;
  background-color: #AA60C8; // Custom purple color
  color: white;
}

mat-chip mat-icon {
  cursor: pointer;
}

.custom-dropdown {
  max-height: 300px;
}
