<mat-card class="container">
    <mat-card-header class="header">
        <mat-card-title>Register Admin</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="registerAdminForm" class="register-admin-form">
            <mat-form-field class="form-field name">
                <mat-label>Name</mat-label>
                <input matInput type="text" formControlName="name">
                <mat-error *ngIf="this.registerAdminForm.get('name')!.hasError('required')">Name is
                    required.</mat-error>
                <mat-error *ngIf="registerAdminForm.get('name')!.hasError('minlength')">Name must be at least 5
                    characters long.</mat-error>
            </mat-form-field>
            <mat-form-field class="form-field phonenumber">
                <mat-label>Phone Number</mat-label>
                <input matInput type="tel" formControlName="phonenumber">
                <mat-error *ngIf="this.registerAdminForm.get('phonenumber')!.hasError('required')">Phone Number is
                    required.</mat-error>
            </mat-form-field>
            <mat-form-field class="form-field email">
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="email">
                <mat-error *ngIf="this.registerAdminForm.get('email')!.hasError('required')">Email is
                    required.</mat-error>
            </mat-form-field>
            <mat-form-field class="form-field password">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password">
                <mat-error *ngIf="this.registerAdminForm.get('password')!.hasError('required')">Password is
                    required.</mat-error>
            </mat-form-field>
            @if (this.errors()) {
                @for (error of errors(); track $index) {
                    <mat-error class="error">{{error}}</mat-error>
                }
            }
        </form>
    </mat-card-content>
    <mat-card-actions class="card-actions">
        <button class="action-button" mat-stroked-button (click)="register()" [disabled]="!this.registerAdminForm.valid">Register</button>
    </mat-card-actions>
</mat-card>