.al-container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: var(--form-width);
    min-width: var(--form-min-width);
    display: grid;
    grid-template-rows: repeat(3);
    grid-template-columns: auto;
}

.header{
    justify-self: center;
    margin-bottom: 10px;
}

.form-field{
    margin-left: 20px;
    margin-right: 20px;
}

.register-admin-form{
    display: flex;
    flex-direction: column;
}
.card-actions{
    justify-self: center;
}

.action-button{
    font-size: large;
    padding-left: 20px;
    padding-right: 20px;
}
.error {
    font-style: italic;
    font-size: medium;
    margin-left: 20px;
}